body {
    background-color: #f4f4f4;
    font-family: "Verdana", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #7FC396;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px; 
}

nav ul li:first-child {
    margin-left: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 24px;
    color: #7FC396;
    margin-bottom: 20px;
}

#month-select {
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid #7FC396;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
}

#donut-chart {
    margin: 0 auto;
}

#expense-details {
    text-align: left;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#expense-details p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

#reset-button {
    background-color: #7FC396; 
    color: white;
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-top: 20px; 
}