
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #7FC396;
    color: #fff;
    padding: 25px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0; 
    box-sizing: border-box; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section.cadastro, section.lista-categorias {
    margin-top: 20px;
}

section.cadastro label, section.cadastro input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

button {
    background-color: #66BB6A;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #55AA5A;
}

@media (max-width: 768px) {
    header {
        padding: 10px 20px;
    }

    #logo {
        font-size: 18px;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    table, th, td {
        font-size: 14px;
    }
}
